.container {
  width: 100%;
  height: 100%;
  background-color: #ffefef;
}

/* job info section start */
.jobInfoSection {
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* job info bar start */
  .jobInfoBar {
    border-radius: 5px;
    width: 80%;
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 1px gray;
    -moz-box-shadow: 0px 2px 5px 1px gray;
    box-shadow: 0px 2px 5px 1px gray;

    padding: 0 3%;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* job info bar end */

  /* job info card start */
  .jobInfoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    border-radius: 5px;
    width: 80%;
    padding: 2rem;
    /* height: calc(100% - 100px); */
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 1px gray;
    -moz-box-shadow: 0px 2px 5px 1px gray;
    box-shadow: 0px 2px 5px 1px gray;
    margin-bottom: 2rem;
    overflow-y: auto;
    p {
      color: #595959;
    }

    /* job info meta data start */
    .jobInfoMetaData {
      width: 100%;
      .companyDetails {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .jobTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        h2 {
          font-size: 2rem;
        }
        button {
          cursor: pointer;
          background-color: #ed5353;
          color: white;
          padding: 0.5rem 1.5rem;
          border: none;
          outline: none;
          border-radius: 5px;
        }
      }
      .jobLocation {
        color: #ed5353;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
    /* job info meta data end */

    .secTitle {
      margin-bottom: 0.6rem;
    }

    .skillsRequired {
      .skillList {
        display: flex;
        gap: 1rem;
        .skills {
          background-color: #ffeeee;
          color: #595959;
          font-weight: bold;
          border-radius: 30px;
          width: max-content;
          padding: 0.3rem 0.6rem;
        }
      }
    }
  }
  /* job info card end */
}

/* job info section end */
